<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {{style("css/reset")}}

    @!section("style-section")
</head>
<body>
    @!section('nav-bar')
    <div>
        @!section('content')
    </div>
    @!section('footer')
    {{ script("js/index") }}
</body>
</html>
