<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>poprent</title>
    {{style('css/main-css')}}
    {{style('css/reset')}}
    @!section('css')
</head>
<body>
    <div class="container">
        <div class="navbar white">
            <div class="logo">
                <img src="images/logo.svg">
            </div>
            <div class="all-nav">
                <p><a href="/">HOME</a></p>
                <p><a href="shop">SHOP</a></p>
                <p><a href="purchase">PURCHASE</a></p>
                <p><a href="products">PRODUCTS</a></p>
                <p>ABOUT US</p>
                <div class="icon-navbar">
                    <img src="{{ assetsUrl("images/search-bar.svg") }}" alt="">
                    <a href="login-register"><img src="{{ assetsUrl("images/account.svg") }}" alt=""></a>
                    <a href="cart"><img src="{{ assetsUrl("images/shopping-cart.svg") }}" alt=""></a>
                    <img src="{{ assetsUrl("images/logout.svg") }}" alt="">
                </div>
            </div>
        </div>
        {{script("js/index")}}
        <div class="maincontent">
            @!section('content')
        </div>
    </div>
    {{script("js/index")}}
    <div id="fb-root"></div>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v8.0&appId=1012042575911613&autoLogAppEvents=1" nonce="clIVpeU5"></script>
</body>
</html>