@layout('mainlayout')
@section('css')
{{style("css/home")}}
@endsection
@section('content')    
<img src="images/firstpic.jpg">
<div class="color">
    <div class="yellow"></div>
    <div class="yellow2"></div>
</div>
@endsection
