@layout('mainlayout')
@section('css')
{{style("css/test")}}
@endsection
@section('content')
<div class="test">
    <div class="form">
        <form action="{{ route("/addProduct") }}" method="POST">
            {{ csrfField() }}
            <div class="label">
                <label for="product-name">Product's name</label>
                <input type="text" name="productname" id="product-name">
            </div>
            <div class="label">
                <label for="description">Description</label>
                <input type="text" name="description" id="description">
            </div>
            <div class="label">
                <label for="category">Categories</label>
                <input type="text" name="category" id="category" placeholder="Comma is required for multiple tags.">
            </div>
            <div class="label">
                <label for="thumbnail">Thumbnail</label>
                <input type="text" name="thumbnail" id="thumbnail" placeholder="thumbnail image path.">
            </div>
            <button type="submit" value="submit">Next</button>
        </form>
    </div>
</div>
@endsection