@layout('mainlayout')
@section('css')
{{style("css/test")}}
@endsection
@section('content')
<div class="test">
    <div class="test-copyright">
        Copyright © 2007-2009 POPRENT.
    </div>
</div>
<div class="topic-option">
    <label for="shipping">SHIPPING</label>
    <label for="address">ADDRESS</label>
    <label for="tel">TEL.</label>
    <label for="payment">PAYMENT</label>
</div>
<div class="detail-option">
    <select name="shipping" id="shipping">
        <option value="ems">EMS</option>
        <option value="register">REGISTER</option>
        <option value="kerry">KERRY</option>
        <option value="ninja">NINJA</option>
    </select>
    <p>146/1 m.9 xxxxxxxxxxxxxxxxxxxxxxx
        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
    <p>0610571188</p>
    <select name="payment" id="payment">
        <option value="scb">SCB</option>
        <option value="next">NEXT</option>
        <option value="kbank">KBANK</option>
    </select>
</div>
@endsection