.bar-button button {
    border: solid 3px #FDDFA3;
    background-color: white;
    color: #FDDFA3;
    border-radius: 20px;
    font-size: 17px;
    width: 170px;
    height: 45px;
    font-weight: 600;
    margin: 20px;
    letter-spacing: 1px;
    cursor: pointer;;
}
.stay button{
    background-color: #FDDFA3;
    border: none;
    color: white;
}
.cart-page {
    display: flex;
    justify-content: center;
}
.cart-page-box {
    width: 60%;
}
.bar-button {
    margin-top: 20vh;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: fit-content;
}
.cart-product {
    padding: 50px;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-column-gap: 100px;
    margin-left: 100px;
}
.cart-product-img {
    grid-column: 1;
}
.cart-product-img img {
    border-radius: 20px;
}
.cart-product-detail {
    grid-column: 2;
    color: #5F5F5F;
    display: flex;
    align-items: center;
}
.cart-product-detail p {
    margin: 10px;
}