*,
*::after,
*::before
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.color {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 500px;
    width: 100%;
}
.yellow {
    background-color: #F1D28C;
    width: 100%;
}
.yellow2 {
    background-color: #DDBD77;
    width: 100%;
}
.sub-categories {
    width: 100%;
    background-color: #E8DEEA;
    padding:100px 0px 30px 0px;
}
.sub-cate-all-img {
    display: grid;
    grid-column-gap: 60px;
    width: 80%;
    margin:50px auto;
}
.sub-categories p{
    color: white;
    font-family: Helvetica Neue;
    font-weight: bold;
    font-size: xx-large;
    display: flex;
    justify-content: center;
}
.sub-cate-img1 {
    grid-column: 1;
    border-radius: 50%;
    margin: 5px;
}
.sub-cate-img2 {
    grid-column: 2;
    border-radius: 50%;
    margin: 5px;
}
.sub-cate-img3 {
    grid-column: 3;
    border-radius: 50%;
    margin: 5px;
}
.sub-cate-img4 {
    grid-column: 4;
    border-radius: 50%;
    margin: 5px;
}
.sub-cate-img5 {
    grid-column: 5;
    border-radius: 50%;
    margin: 5px;
}
.shop-now button {
    outline: none;
    border-radius: 10px;
    padding: 20px 50px;
    border: white 2px solid;
    background-color: #CAD098;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    font-family: Helvetica Neue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.shop-now {
    display: flex;
    height: 80vh;
    position: relative;
    justify-content: center;
    align-items: center;
}
.firstpic {
    background-image: url('../images/home-firstpic.jpg');
    width: 100%;
    height: 1000px;
    background-size: cover;
}
.first{
    font-family: 'Subway-Black';
    font-size: large;
}
.second {
    font-family: 'Subway-Black';
    font-size: xx-large;
}
.third {
    font-family: 'Subway-Shadow';
    font-size: xxx-large;
    letter-spacing: 2px;
}
.text-first {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    text-align: center;
}
.text-first p {
    margin: 0;
    padding: 0;
}

.item__frame
{
    background-color: grey;
    border-radius: 20px;
    width: 260px;
    height: 300px;
    /* position: absolute; */
    display: grid;
    grid-template-rows: 200px 100px;        
    top: 20%;
    left: 20%;
}

.item__frame + .item__frame
{
    margin-left: 10vw;
}

.item__frame img {
    position: absolute;
    top: 10%;
    left: -55%;
    width: 340px;
    /* height: 200px; */
    /* background-color: red; */
}

.prime__color
{
    height: 100%;
    width: 100%;
    background-color:#e0cdae;
    margin-top: 0;
    border-radius: 20px 20px 0 0;
    grid-row: 1;
    position: relative;
}

.prime__color p
{
    color: #fff;
    text-align: right;
    margin: 1em;
}

.sec__color
{
    height: 100%;
    width: 100%;
    background-color: #ebe2d2;
    border-radius: 0 0 20px 20px;
    grid-row: 2;
}