.content-under-navbar {
    display: grid;
    grid-template-columns: 300px 1fr;
    position: relative;
}
.sidebar {
    width: 300px;
    background-color: white;
    height: 100vh;
    position: fixed;
    z-index: 888;
    grid-column: 1;
}
.sidebar-text {
    color: #767676;
    font: 15px Arial, sans-serif;
    width: 200px;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 10px;
    border-bottom: #A5A5A5 solid 1px;
}
.all-sidebar-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-content: center;
    height: 100% ;
}
.all-card {
    grid-column: 2;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    box-sizing: border-box;
    padding: 100px;
    grid-row-gap: 40px;
    width: 100%;
    grid-column-gap: 10px;
}
.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 200px; 
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
  }
.card img {
    border-radius: 10px 10px 0 0;
}
.inside {
    padding: 0px 10px 5px 10px;
}
footer {
    background-color: #FDDFA3;
}