.sidebar {
    width: 300px;
    background-color: white;
    height: 100vh;
    position: fixed;
    z-index: 888;
    grid-column: 1;
    transform: translateX(-300px);
}
.sidebar-text {
    color: #767676;
    font: 15px Arial, sans-serif;
    width: 200px;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 10px;
    border-bottom: #A5A5A5 solid 1px;
}
.all-sidebar-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-content: center;
    height: 100% ;
} 