.test {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.label {
    margin: 20px;
}

.none
{
    display: none;
}

.alert
{
    border-radius: 20px;
    background-color: #C70039;
    padding: 20px 100px;
    color: white;
    font-weight: bold;
}